body {
  background-color: #5CDB95;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  color: #05386B;
  margin: 0px auto;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  counter-reset: section-counter;
}

p {
  max-width: 100%;
  margin: 0px 0px 15px;
}

.content-container {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px auto;
  padding: 150px 0px;
}

a, a:visited {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  color: #05386B;
}

/* Animating Link Underlines */
/* by Tobias Ahlin Bjerrome */
/* https://tobiasahlin.com/blog/css-trick-animating-link-underlines/ */

a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #05386B;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.btn {
  border: 1px solid #05386B;
  border-radius: 5px;
  background-color: #05386B;
  color: #EDF5E1;
  font-weight: bold;
  transition-duration: .4s;
}

.btn:hover {
  background-color: #8EE4AF;
  color: #05386B;
}

.heading {
  font-size: 30px;
  font-weight: 700;
  text-decoration-line: underline;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.heading::before {
  counter-increment: section-counter;
  content: "0" counter(section-counter);
  margin-right: 5px;
  font-size: 80%;
  background-color: #05386B;
  color: #EDF5E1;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 3px;
}