#single-project {
  padding: 0px 0px 100px 0px;
  position: relative;
}

#last-project {
  padding: 0px;
}

.project-pic {
  max-width: 60%;
}

.project-pic > img {
  width: 100%;
}

.project-description {
  position: absolute;
  margin: 0 auto;
  top: 0%; /* Adjust this value to move the positioned div up and down */
  width: 340px;
}

.project-description > p {
  background: #5CDB95;
}

.right-description {
  left: 400px;
  right: 0;
  text-align: right;
}
.project-header {
  font-size: 14px;
  margin: 10px 0px;
}
.project-title {
  color: #EDF5E1;
  font-size: 28px;
  margin: 0px 0px 20px 10px;
}