.top-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 40px;
}

/* Custom List Numbers by David McFarland */
/* https://codepen.io/sawmac/pen/txBhK */

.top-nav-links {
  display: flex;
  align-items: center;
}

.top-nav-links-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.top-nav-links-list li {
  counter-increment: step-counter;
  margin: 10px 10px 10px 10px;
}

.top-nav-links-list li::before {
  content: counter(step-counter);
  margin-right: 5px;
  font-size: 80%;
  background-color: #05386B;
  color: #EDF5E1;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 3px;
}

.top-nav-hamburger {
  display: none;
}

.top-nav-resume {
  padding: 12px 16px;
  border: 1px solid #05386B;
  border-radius: 5px;
  background-color: #05386B;
  color: #EDF5E1;
  font-weight: bold;
  transition-duration: .4s;
}

.top-nav-resume:hover {
  /* background-color: #379683; */
  background-color: #8EE4AF;
  color: #05386B;
}